body {
    background: black url("images/background.jpg") no-repeat fixed center center;
    background-size: cover;
    text-align: center;
    font-family: Roboto Regular;
    color: white;
    font-size: 16px;
}

.table {
    background-color: rgba(26,26,26,0.9);
    background-clip: padding-box;
    border-radius: 16px;
    border-collapse: collapse;
    display: inline-block;
    margin: auto;
}

.tb {
    border-collapse: collapse;
}

.tb td + td {
     border-left: 1px solid white; 
}

.tb tr + tr {
    border-top: 1px solid white;
}    

.tb td {
    padding: 4px;
}

.tb .set {
    color: #17C884;
}

.tb .exotic {
    color: #FF765E;
}

input[type=checkbox] {
    display:none;
}
 
.classified + label {
    background: url("images/classified.png") center center no-repeat;    
    background-size: 32px 32px;
    height: 64px;
    width: 32px;
    display:inline-block;        
    vertical-align: middle;
}

.classified:checked + label {
    background: url("images/classified.png") #18BB18 center center no-repeat;    
    background-size: 32px 32px;
    height: 64px;
    width: 32px;
    display:inline-block;        
    vertical-align: middle;
}
 
.bodyarmor + label {
    background: url("images/bodyarmor.png") center center no-repeat;    
    background-size: 48px 48px;
    height: 64px;
    width: 64px;
    display:inline-block;        
    vertical-align: middle;
}

.bodyarmor:checked + label {
    background: url("images/bodyarmor.png") #18BB18 center center no-repeat;    
    background-size: 48px 48px;
    height: 64px;
    width: 64px;
    display:inline-block;        
    vertical-align: middle;
}
 
.mask + label {
    background: url("images/mask.png") center center no-repeat;    
    background-size: 48px 48px;
    height: 64px;
    width: 64px;
    display:inline-block;        
    vertical-align: middle;
}

.mask:checked + label {
    background: url("images/mask.png") #18BB18 center center no-repeat;    
    background-size: 48px 48px;
    height: 64px;
    width: 64px;
    display:inline-block;        
    vertical-align: middle;
}
 
.kneepads + label {
    background: url("images/kneepads.png") center center no-repeat;    
    background-size: 48px 48px;
    height: 64px;
    width: 64px;
    display:inline-block;        
    vertical-align: middle;
}

.kneepads:checked + label {
    background: url("images/kneepads.png") #18BB18 center center no-repeat;    
    background-size: 48px 48px;
    height: 64px;
    width: 64px;
    display:inline-block;        
    vertical-align: middle;
}
 
.backpack + label {
    background: url("images/backpack.png") center center no-repeat;    
    background-size: 48px 48px;
    height: 64px;
    width: 64px;
    display:inline-block;        
    vertical-align: middle;
}

.backpack:checked + label {
    background: url("images/backpack.png") #18BB18 center center no-repeat;    
    background-size: 48px 48px;
    height: 64px;
    width: 64px;
    display:inline-block;        
    vertical-align: middle;
}
 
.gloves + label {
    background: url("images/gloves.png") center center no-repeat;    
    background-size: 48px 48px;
    height: 64px;
    width: 64px;
    display:inline-block;        
    vertical-align: middle;
}

.gloves:checked + label {
    background: url("images/gloves.png") #18BB18 center center no-repeat;    
    background-size: 48px 48px;
    height: 64px;
    width: 64px;
    display:inline-block;        
    vertical-align: middle;
}
 
.holster + label {
    background: url("images/holster.png") center center no-repeat;    
    background-size: 48px 48px;
    height: 64px;
    width: 64px;
    display:inline-block;        
    vertical-align: middle;
}

.holster:checked + label {
    background: url("images/holster.png") #18BB18 center center no-repeat;    
    background-size: 48px 48px;
    height: 64px;
    width: 64px;
    display:inline-block;        
    vertical-align: middle;
}
